@import url("https://fonts.googleapis.com/css2?family=Jersey+20&display=swap");

body {
  background-color: #f2f6f8;
  padding: 80px 0;
  font-family: "Jersey 20", sans-serif;
}

::selection {
  color: blue;
  background: #d0f8ee;
}

input {
  appearance: none;
  font-family: "Jersey 20", sans-serif !important;
}